$primary: "indigo";
$accent: "cyan";

:where(html) {
  --primary: var(--#{$primary}-7);
  --accent: var(--#{$accent}-7);
  --success: var(--green-3);
  --error: var(--red-3);

  --link: var(--primary);
  --link-visited: var(--primary);

  caret-color: var(--primary);
  outline-color: var(--primary);
  ::selection {
    background: var(--primary);
    color: var(--surface-1);
  }

  :where(a):where([href]) {
    text-decoration-color: var(--primary);
  }
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --primary: var(--#{$accent}-3);
    --accent: var(--#{$primary}-3);
  }
}
