:where(html) {
  --surface-1: #2e3440;
  --surface-2: #3b4252;
  --surface-3: #434c5e;

  --text-1: #eceff4;
  --text-2: #e5e9f0;
  --text-3: #d8dee9;

  --primary-1: #8fbcbb;
  --primary-2: #88c0d0;
  --primary-3: #81a1c1;
  --primary-4: #5e81ac;

  --error: #bf616a;
  --warning: #d08770;
  --accent: #ebcb8b;
  --success: #a3be8c;
  --info: #b48ead;

  --link: var(--primary-2);
  --link-visited: var(--primary-2);
}
