:where(html) {
  --success: var(--green-3);
  --error: var(--red-3);
  --primary: var(--cyan-7);
  --accent: var(--yellow-7);
  --link: var(--cyan-7);
  --link-visited: var(--blue-7);

  :where(a):where([href]) {
    text-decoration-color: var(--cyan-2);
  }

  :where(a):where([href]):where(:visited) {
    text-decoration-color: var(--blue-2);
  }
}

@media (prefers-color-scheme: dark) {
  :where(html) {
    --primary: var(--cyan-3);
    --accent: var(--yellow-3);
    --link: var(--cyan-3);
    --link-visited: var(--blue-3);
  }
}
