button {
  background-color: var(--surface-1);
  color: var(--text-1);

  &[type="button"] {
    border-color: var(--primary-1);
  }

  &[type="submit"] {
    border-color: var(--success);
  }

  &[type="reset"] {
    border-color: var(--error);
  }

  &:active {
    filter: brightness(0.9);
  }
}
