label:has(input) {
  align-items: center;
  display: flex;
  gap: var(--size-3);
  justify-content: flex-end;
  margin-block: var(--size-3);

  & > input {
    margin-left: auto;
  }
}

button {
  border-radius: var(--radius-2);

  &:where(:hover, :focus) {
    filter: brightness(1.25);
  }

  &[type="submit"] {
    background-color: var(--success);
    color: var(--surface-1);
  }

  &[type="reset"] {
    background-color: var(--error);
    color: var(--surface-1);
  }
}
