main > aside {
  background-color: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-radius: 0 var(--radius-2) var(--radius-2) 0;
  box-shadow: var(--shadow-2);
  height: fit-content;
  left: 100%;
  margin: var(--size-3);
  padding: var(--size-2);
  position: sticky;
  top: var(--size-3);
  width: var(--size-content-2);

  &::before {
    background-color: var(--primary);
    border-radius: var(--radius-2) 0 0 var(--radius-2);
    box-shadow: var(--shadow-2);
    content: "";
    height: calc(100% + 2px);
    right: 100%;
    position: absolute;
    top: -1px;
    width: var(--size-7);
    z-index: -1;
  }

  @media (max-width: 1920px) {
    display: none;
  }
}

section > aside {
  background-color: var(--surface-1);
  border: 1px solid var(--surface-2);
  border-radius: var(--radius-2);
  padding: var(--size-2);
  position: absolute;
  top: 0;
  left: var(--size-md);
  width: var(--size-content-2);

  @media (max-width: 1440px) {
    display: none;
  }
}
