aside {
  left: var(--size-md);
  margin-left: var(--size-8);
  width: var(--size-content-2);
  position: absolute;

  &::before {
    background-color: var(--primary);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    content: "";
    height: var(--size-5);
    right: calc(100% + var(--size-2));
    position: absolute;
    top: var(--size-2);
    width: var(--size-5);
  }

  @media (max-width: 1200px) {
    display: none;
  }
}
