div.row {
  display: flex;

  @for $i from 1 through 5 {
    $size: $i * 2;

    &.gap-#{i} {
      gap: var(--size-#{size});
    }

    &.padding-#{i} {
      padding-inline: var(--size-#{size});
    }
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-around {
    justify-content: space-around;
  }

  &.justify-between {
    justify-content: space-between;
  }

  &.justify-evenly {
    justify-content: space-evenly;
  }

  &.justify-end {
    justify-content: end;
  }
}
