section {
  margin-block: var(--size-7);
  max-inline-size: var(--size-content-3);
  position: relative;

  & > h3 {
    border-bottom: 1px solid var(--surface-2);
    text-align: right;
    margin-block-end: var(--size-3);
  }

  &:where(.card, .primary, .accent) {
    border: 1px solid var(--surface-4);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-1);
    padding: var(--size-3);
    position: relative;

    &::before {
      content: "";
      inset: 0;
      opacity: 0.1;
      position: absolute;
      z-index: -1;
    }

    &::after {
      background: linear-gradient(to bottom right, var(--primary), transparent);
      content: "";
      inset: 0;
      opacity: 0.1;
      position: absolute;
    }
  }

  &.card::before {
    background-color: var(--surface-4);
  }

  &.primary::before {
    background-color: var(--primary);
  }

  &.accent::before {
    background-color: var(--accent);
  }
}
